{{define "socket"}}


<script>
    let socket;
    // {{with .}}
    console.log("{{.}}")
    socket = new WebSocket("ws://localhost:8080/ws/{{.}}");
    console.log("ws://10.70.1.187/ws/{{.}}");
    // {{else}}
    console.log("no")
    socket = new WebSocket("ws://10.70.1.187/ws");
    console.log("ws://10.70.1.187/ws");
    // {{end}}

    console.log("Attempting Connection...");
    socket.onopen = () => {
        const data = new JsonMsg(getRoomId(), 0, false, [], false)
        console.log(data)
        send(data)
    }

    // socket.onclose = event => {
    //     console.log("Socket Closed Connection: ", event);
    //     socket.send("Client Closed!")
    // };

    socket.onmessage = msg => {
        console.log("Message Recieved: ", msg);
    };

    socket.onerror = error => {
        console.log("Socket Error: ", error);
    };

    const getRoomId = () => {
        let id = new URLSearchParams(window.location.search).get("room")
        return Number.parseInt(id)
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function send(JsonMsg) {
        socket.send(JSON.stringify(JsonMsg))
    }
</script>
{{end}}