<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetitBac</title>
</head>
{{if .Isplaying}}
<body>
    <h1> Letter : {{.}} </h1>
    <form action="/result" method="post">
        <label for="artiste">Artiste:</label>
        <input type="text" name="artiste" id="artiste" autofocus autocomplete="off" required /><br>

        <label for="album">Album:</label>
        <input type="text" name="album" id="album" autocomplete="off" required /><br>

        <label for="groupe">Groupe de musique:</label>
        <input type="text" name="groupe" id="groupe" autocomplete="off" required /><br>

        <label for="instrument">Instrument de musique:</label>
        <input type="text" name="instrument" id="instrument" autocomplete="off" required /><br>

        <label for="featuring">Featuring:</label>
        <input type="text" name="featuring" id="featuring" autocomplete="off" required /><br>
        <input type="submit" value=" FINISH">
    </form>
    {{ template "websocket" "ptitbac"}} 
</body>
{{end }}

</html>