<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetitBac</title>
</head>
{{if .IsPlaying}}

<body>
    <h1> Lettre : {{.Letter}}</h1>
    <form>
        <label for="artiste">Artiste:</label>
        <input placeholder="{{.Letter}}..." type="text" name="artiste" id="artiste" autofocus autocomplete="off"
            required /><br>

        <label for="album">Album:</label>
        <input placeholder="{{.Letter}}..." type="text" name="album" id="album" autocomplete="off" required /><br>

        <label for="groupe">Groupe de musique:</label>
        <input placeholder="{{.Letter}}..." type="text" name="groupe" id="groupe" autocomplete="off" required /><br>

        <label for="instrument">Instrument de musique:</label>
        <input placeholder="{{.Letter}}..." type="text" name="instrument" id="instrument" autocomplete="off"
            required /><br>

        <label for="featuring">Featuring:</label>
        <input placeholder="{{.Letter}}..." type="text" name="featuring" id="featuring" autocomplete="off"
            required /><br>
        <input id="send" type="submit" value="FINISH" />
    </form>
    <div id="result" style="display: none;">
        <h1>Resultat</h1>
    </div>
    <script>
        let categories = [
            "Artiste",
            "Album",
            "Groupe de musique",
            "Instrument de musique",
            "Featuring"
        ]
        const resultDiv = document.getElementById("result")
        categories.forEach(e => {
            const h2 = document.createElement("h2")
            h2.textContent = e
            resultDiv.append(h2)
        })

    </script>
    {{template "socket" "ptitBac" }}
    <script>
        socket.onopen = () => {
            console.log(JSON.stringify({ Id: getRoomId(), Done: false }))
            socket.send(JSON.stringify({ Id: getRoomId(), Done: false }))
        }
        socket.onmessage = msg => {
            console.log("recieved :", msg.data)
            switch (JSON.parse(msg.data)){
                case "end round": done(false);break;
                case "Timer expired!": 
            }
        }
        document.querySelector("form").addEventListener("submit", e => {
            e.preventDefault()
            done(true)
        })
        let done = (sender) => {
            if (sender) {
                socket.send(JSON.stringify({ Id: getRoomId(), Done: true }))
                console.log("send :", { Id: getRoomId(), Done: true })
            }
            const form = document.querySelector("form").submit()
        }
    </script>
</body>
{{end}}

</html>